\.env
\.env.*

backend/DB/**
backend/static/
backend/**/__pycache__/
backend/**/*.py[cod]
backend/**/.pytest_cache/

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/src/test/
frontend/coverage/
frontend/.vite/
frontend/.prettierignore
frontend/.prettierrc
frontend/eslint.config.js

nginx/certs/
